.git/*
.idea/*
venv/*
/problem_2/2.극지_데이터.zip
/problem_3/3.해양_데이터.zip
/problem_2/test_output_best.csv
/problem_3/data/
/problem_4/4.대기_데이터.zip
/problem_4/data/
/problem_1/data/
/problem_1/figs/
/problem_1/1.지진_데이터.zip
/problem_4/output_LeakyReLU/
/problem_4/output_LeakyReLU2/
/problem_4/output_LSTM/
/problem_4/output_LSTM_0906/
/problem_4/output_PReLU/
/problem_4/model/
/problem_3/output_0902/
/problem_3/output_0903/
/problem_3/output_0903_2/
/problem_3/output_0903_original/
/problem_3/output_0906/
/problem_3/output_0906_PReLU/
/problem_3/output_ELU/
/problem_3/output_LeakyReLU/
/problem_3/output_PReLU/
/problem_2/data/
/problem_2/output_LeakyReLU/
/problem_1/model/
/problem_1/model_0906/
/problem_1/models/
